<div class="bottom-section">
  <div class="left-bottom">

    <div class="health-bar">
      <div class="bar-fill" style="width:100%"></div>
      <div class="bar-text"> 15/15</div>
    </div>
    <div class="mana-bar">
      <div class="bar-fill" style="width: 100%"></div>
      <div class="bar-text">1/1</div>
    </div>

    <div class="favorites-section">

    </div>
  </div>
  <div class="right-bottom">
    <div class="skills-header">
      <span class="skills-label">Skills</span>
    </div>

    {{> "systems/lotm/templates/actor/parts/actor-skills.hbs" }}
  </div>
</div>