<div class="portrait-circle">
  <div class="hooded-figure">
    <div class="hood"></div>
    <div class="face">
      <div class="eye eye-left"></div>
      <div class="eye eye-right"></div>
    </div>
  </div>
</div>
<div class="armor-class">18</div>