<div class="stat-box">
  <span class="stat-label">STR+</span>
  <span class="stat-value">+1</span>
</div>
<div class="stat-box">
  <span class="stat-label">DEX</span>
  <span class="stat-value">+1</span>
</div>
<div class="stat-box">
  <span class="stat-label">COR</span>
  <span class="stat-value">+1</span>
</div>
<div class="stat-box">
  <span class="stat-label">INT</span>
  <span class="stat-value">+2</span>
</div>